/* Layout */

html, body, main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Buttons */

.btn {
  --bs-btn-padding-x: 0.5rem;
}

.btn-sm {
  --bs-btn-padding-x: 0.25rem;
}

/* Test classes */

.br {
  border: 1px solid red;
}

.bb {
  border: 1px solid blue;
}

.bg {
  border: 1px solid green;
}